* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-color: rgb(140, 177, 185);
    --second-bg-color: rgb(197, 215, 98);
    --text-color: #193940;
    --main-color: #fff;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Lucia Grande", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

header {
    background-color: var(--text-color);
    color: var(--second-bg-color);
    padding: 3.125rem; /* 50px */
    text-align: center;
    font-size: 2rem;
}

nav {
    text-align: center;
    margin: 3.75rem 0; /* 60px */
}

nav a {
    margin: 0 0.625rem; /* 10px */
    padding: 1.625rem; /* 26px */
    text-decoration: none;
    color: var(--second-bg-color);
    background-color: var(--text-color);
    border-radius: 0.625rem; /* 10px */
    font-size: 1.875rem; /* 3rem */
    border: 0.125rem solid var(--text-color); /* 2px */
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    transform: scale(2) translateY(-0.125rem); /* -2px */
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

section {
    display: none;
    margin: 3.75rem; /* 60px */
    padding: 1.875rem; /* 30px */
    background-color: var(--main-color);
    border-radius: 1.25rem; /* 20px */
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    gap: 1.5rem;
}

section.active {
    display: block;
}

h2 {
    font-size: 2.5rem;
    padding: 1.25rem; /* 20px */
}

p {
    font-size: 1.875rem; /* 2rem */
}

footer {
    text-align: center;
    padding: 1.875rem; /* 30px */
    background-color: var(--second-bg-color);
    color: var(--text-color);
    margin-top: 1.25rem; /* 20px */
}

.button-link {
    display: inline-flex;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 0.625rem; /* 10px */
    margin: 0.9375rem 0; /* 15px */
    font-size: 1.8rem;
    transition: 0.3s ease-in-out;
}

.button-link:hover {
    transform: scale(1) translateY(-0.3125rem); /* -5px */
    background-color: var(--text-color);
    color: var(--main-color);
    box-shadow: 0 0 20px var(--second-bg-color);
}

#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    color: white;
    font-size: 2.25rem; /* 36px */
    z-index: 1000;
}

#main-content {
    display: none;
    padding: 1.25rem; /* 20px */
}

@media(max-width: 1285px) {
    html {
        font-size: 55%;
    }

    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }
}

@media(max-width: 991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 2.5rem 3%; /* 10rem 3% 2rem */
    }

    .timeline-items::before {
        left: 0.4375rem; /* 7px */
    }

    .timeline-time:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-time:nth-child(odd),
    .timeline-time:nth-child(even) {
        padding-left: 2.3125rem; /* 37px */
    }

    .timeline-dot {
        left: 0;
    }

    .services {
        padding-bottom: 7rem;
    }

    .testimonials .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact form {
        flex-direction: column;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width: 895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: black;
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 0.125rem solid var(--main-color); /* 2px */
        border-bottom: 0.125rem solid var(--main-color); /* 2px */
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: rgb(232, 232, 183);
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem; /* 8rem */
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 37.5rem; /* 600px */
        margin: 0 auto;
    }

    .home.img img {
        width: 56vw;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}